<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>AD_UNIT_ID_FOR_BANNER_TEST</key>
	<string>ca-app-pub-3940256099942544/2934735716</string>
	<key>AD_UNIT_ID_FOR_INTERSTITIAL_TEST</key>
	<string>ca-app-pub-3940256099942544/4411468910</string>
	<key>CLIENT_ID</key>
	<string>917789692455-4u71hbghgs3nuaeff84j7ompj6pc6928.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.917789692455-4u71hbghgs3nuaeff84j7ompj6pc6928</string>
	<key>API_KEY</key>
	<string>AIzaSyA3Oi2zIy8WjtU4bg2k_bB5hRoIXzisp8Q</string>
	<key>GCM_SENDER_ID</key>
	<string>917789692455</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.silc.FetchCoins</string>
	<key>PROJECT_ID</key>
	<string>silcfetch</string>
	<key>STORAGE_BUCKET</key>
	<string>silcfetch.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<true/>
	<key>IS_ANALYTICS_ENABLED</key>
	<false/>
	<key>IS_APPINVITE_ENABLED</key>
	<false/>
	<key>IS_GCM_ENABLED</key>
	<true/>
	<key>IS_SIGNIN_ENABLED</key>
	<true/>
	<key>GOOGLE_APP_ID</key>
	<string>1:917789692455:ios:58be1d37c6d1941f</string>
	<key>DATABASE_URL</key>
	<string>https://silcfetch.firebaseio.com</string>
</dict>
</plist>
